.ant-menu-item,
.ant-menu-submenu {
  height: 100%;
  line-height: 3.875rem;
}
.ant-menu-submenu-open {
  color: #fff !important;
}
.ant-menu-dark .ant-menu-submenu-selected {
  background-color: #1890ff;
  color: #fff;
}
.ant-layout-header ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
